{% extends 'base.html.twig' %}

{% block title %}InvoiceProduct{% endblock %}

{% block body %}
    <h1>InvoiceProduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoice_product.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_invoice_product_index') }}">back to list</a>

    <a href="{{ path('app_invoice_product_edit', {'id': invoice_product.id}) }}">edit</a>

    {{ include('invoice_product/_delete_form.html.twig') }}
{% endblock %}
